{% extends 'website/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}

  <section>
    <div class="container">
      <div class="row">
        <h2 class="left">{{ event.name }}</h2>
        <div class="col s12 m12">
          <div>
            <p>{{ event.description }}</p>
          </div>
          {% if not event.closed_registration %}
            <a class="waves-effect waves-light btn yellow darken-2 btn-large" href="{% url 'attendee-registration' event.slug %}">{% trans "Register" %}</a>
          {% endif %}

          {% for day in event.eventday_set.all %}
            <div>
              <h4>{% trans "Schedule" %} - {{ day.date|date:'SHORT_DATE_FORMAT' }}</h4>
              <ul class="collection">
                {% for item in day.eventschedule_set.all %}
                  <li class="collection-item avatar">
                    <span class="title"></span>
                    <p>{{ item.title }}<br>
                      <span class="yellow-text text-darken-3">{{ item.start }}h - {{ item.end }}h</span>
                    </p>
                    {% if item.authors %}
                      <p class="light-blue-text text-lighten-2">{{ item.authors }}</p>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endfor %}
        </div>

        <div class="col s12 m6">
          <h4>{% trans "Place" %}</h4>
          <div id="map" style="width:100%;height:400px;"></div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}

{% block scripts %}
  <script>
      function myMap() {
          var mapCanvas = document.getElementById("map");
          var myLatLng = {'lat': {{ event.latitude|stringformat:"f" }}, 'lng': {{ event.longitude|stringformat:"f" }}};
          var mapOptions = {
              center: new google.maps.LatLng(myLatLng),
              zoom: 14
          };
          var map = new google.maps.Map(mapCanvas, mapOptions);

          var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            title: "{{ event. }}"
          });

      }
  </script>

  <script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}&callback=myMap"></script>

{% endblock scripts %}