{% load static %}
{% load i18n %}

<div class="container">
  <div class="row">
    <div class="col l6 s12">
      <h5 class="white-text">GruPy-RN</h5>
      <p class="grey-text text-lighten-4">{% trans "From developers to the community." %}</p>
    </div>
    <div class="col l4 offset-l2 s12">
      <h5 class="white-text">{% trans "Social networks" %}</h5>
      <ul>
        <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/grupyrn/">Facebook</a></li>
        <li><a class="grey-text text-lighten-3" href="https://www.instagram.com/grupyrn/">Instagram</a></li>
        <li><a class="grey-text text-lighten-3" href="https://t.me/grupyrn">Telegram</a></li>
        <li><a class="grey-text text-lighten-3" href="https://www.twitter.com/grupy-rn">Twitter</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
    2018 GruPy-RN
  </div>
</div>
