{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>GruPy-RN Meetup </title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
</head>
<body>

<header>
  <div class="navbar-fixed">
    <nav class="white" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="index.html" class="brand-logo"><img class="center-logo"
                                                                         src="{% static 'img/logo.png' %}"
                                                                         alt="GruPy-RN"></a>

        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      </div>
    </nav>
  </div>
</header>

<section class="teste">    
  <div class="container">
    <div class="row center">
           <div class="col s12 m7">
              <h1 class="center-align h1-header">Credenciais geradas com sucesso!</h1>
              <p class="center-align p-thanks">Este QR-Code é o seu passaporte de entrada
                  para todos os eventos do GruPy-RN, leve-o sempre com você. Não se
                  preocupe, também enviamos essas informações para o seu e-mail!</p>
          </div>
          <div class="col s12 m5">
              <img src="data:image/png;base64,{{ qr_code }}" class="responsive-img qrcode-size"/>
          </div>
    </div>
  </div>
</section>



<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="{% static 'js/materialize.js' %}"></script>
<script src="{% static 'js/init.js' %}"></script>

</body>
</html>
