[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
cryptography = "*"
pyqrcode = "*"
pillow = "*"
sendgrid = "*"
pypng = "*"
dj-database-url = "*"
whitenoise = "*"
gunicorn = "*"
django-localflavor = "*"
"psycopg2-binary" = "*"
django-extensions = "*"
django-crispy-forms = "*"
crispy-materialize = {git = "https://github.com/sedir/crispy-forms-materialize.git", editable = true, ref = "master"}

[dev-packages]
django-extensions = "*"
ipython = "*"

[requires]
python_version = "3.6"
