{% extends 'site/base.html' %}
{% load static %}
{% load i18n %}


{% block content %}
<section class="teste">    
  <div class="container">
    <div class="row center">
           <div class="col s12 m7">
              <h1 class="center-align h1-header">Credenciais reenviadas com sucesso!</h1>
              <p class="center-align p-thanks">Você já efetuou seu cadastro nesse evento!
                  Estamos reenviando o QRCode para seu e-mail, e lembre-se:
                  Este QR-Code é o seu passaporte de entrada
                  para este evento do GruPy-RN, leve-o com você.</p>
          </div>
          <div class="col s12 m5">
              <img src="data:image/png;base64,{{ qr_code }}" class="responsive-img qrcode-size"/>
          </div>
    </div>
  </div>
</section>
{% endblock content %}