{% extends 'site/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
  <div class="container">
    <h2 class="center-align h1-header">{{ event.name }}</h2>
    <p class="center-align p-form">{% trans "Register now!" %}</p>
  </div>


<div class="container cont-padding-top">

  {% if form.errors %}
    <div class="row">
      <blockquote>
        <h5>{% trans "Correct the following error(s):" %}</h5>
        <ul>
          {% for field in form %}
            {% if field.errors %}
              {% for error in field.errors %}
                <li>{{ error|escape }}</li>
              {% endfor %}
            {% endif %}
          {% endfor %}
        </ul>
        {% if form.non_field_errors %}
          {{ form.non_field_errors }}
        {% endif %}

      </blockquote>
    </div>
  {% endif %}



  <div class="row">
    <form class="col s12" method="post" action="">
      <input type="hidden" name="event" value="{{ event.slug }}">

      {% crispy form %}

      <br /><br />
      <div class="row">
        <div class="input-field col s12">
          <button class="btn waves-effect waves-light yellow darken-2" type="submit" name="action">Enviar
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock content %}

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="{% static 'js/materialize.js' %}"></script>
<script src="{% static 'js/init.js' %}"></script>

</body>
</html>
