{% extends 'site/base.html' %}
{% load static %}
{% load i18n %}


{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="center-align h1-header">Regras</h1>
                <ul class="rule">
                    <li>O participante é o único responsável por seus dados
                        informados na inscrição no evento.
                     </li>
                    <li>
                        O participante deverá comparecer ao evento com o QR-code
                        em mãos, seja no celular ou  impresso.
                    </li>
                    <li>
                        O participante que não levar QR-code poderá participar
                        do evento, mas não receberá certificado de participação.
                    </li>
                    <li>
                        O participante é o único responsável pelo seu próprio
                        check-in e check-out.
                    </li>
                    <li>
                        O participante receberá o certificado de participação
                        somente se seu tempo de permanência for igual ou
                        superior a 75% do período do evento, entre o check-in
                        e check-out.
                    </li>
                    <li>
                        A organização se isenta realizar de qualquer alteração
                        cadastral de participante, incluindo check-in e
                        check-out. Não insista.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

{% endblock %}
