/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}


p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

  .bg-blur{
      filter: blur(1px);
  }

  .h1-header{
      font-weight: bold;
  }

  .h4::after{
      content: '';
      border-top: solid 4px #bd7944;
      width: 10%;
      display: block;
      margin: 25px auto;
  }

  .p-header{
      font-size: 1.3rem;

  }

  .btn-large{
      box-shadow: none;
  }

  .btn-color-header{
      background-color: #618cae;

  }

  .center-logo{
      padding: 0px;
      margin-top: -5px;
      width: 130px;
      height: 80px;
  }

  .bg{
      background-color: rgb(97, 106, 0)
  }

  .container-header{
      height: 100vh;
      background-image: url("../img/meetup.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      filter: blur(1px);
      z-index: -1;

  }

  .cont-padding-top{
      padding-top: 40px;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  .tamanho{
      width: 130px;
      height: 80px;
      margin-top: -10px;
    }

  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
