  .h1-header{
      font-weight: bold;
      color: rgba(43, 43, 43, 0.87);
  }
  .h1-header::after{
    content: '';
    border-top: solid 4px #5e89ab;
    width: 10%;
    display: block;
    margin: 20px auto;
}

  .p-header{
      line-height: 2rem;
      font-size: 1.3rem;
      margin-bottom: 3rem;
      color: rgba(43, 43, 43, 0.87);
  }

  .center-logo{
      padding: 0px;
      margin-top: -5px;
      width: 130px;
      height: 80px;
  }

@media only screen and (max-width : 992px) {
  .center-logo{
      width: 130px;
      height: 80px;
      margin-top: -12px;
    }
}
