{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>GruPy-RN Meetup </title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
</head>
<body>

<header>
  <div class="navbar-fixed">
    <nav class="white" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo"><img class="center-logo"
                                                                         src="{% static 'img/logo.png' %}"
                                                                         alt="GruPy-RN"></a>
      </div>
    </nav>
  </div>

  <div class="container">
    <h1 class="center-align h1-header">Crie aqui sua credencial</h1>
    <p class="center-align p-form">Faça parte da comunidade do GruPy-RN</p>
  </div>

</header>


<div class="container cont-padding-top">

  {% if form.errors %}
    <div class="row">
      <blockquote>
        <h5>Corrija o(s) seguinte(s) erro(s):</h5>
        <ul>
          {% for field in form %}
            {% if field.errors %}
              {% for error in field.errors %}
                <li>{{ error|escape }}</li>
              {% endfor %}
            {% endif %}
          {% endfor %}
        </ul>
        {% if form.non_field_errors %}
          {{ form.non_field_errors }}
        {% endif %}

      </blockquote>
    </div>
  {% endif %}



  <div class="row">
    <form class="col s12" method="post">

      {% crispy form %}

      <div class="row">
        <div class="input-field col s12">
          <button class="btn waves-effect waves-light yellow darken-2" type="submit" name="action">Enviar
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="{% static 'js/materialize.js' %}"></script>
<script src="{% static 'js/init.js' %}"></script>

</body>
</html>
