{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>GruPy-RN Meetup </title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

<header>
  <div class="navbar-fixed">
    <nav class="white" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="index.html" class="brand-logo"><img class="center-logo"
                                                                         src="{% static 'img/logo.png' %}"
                                                                         alt="GruPy-RN"></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#">Inscrição</a></li>
        </ul>

        <ul id="nav-mobile" class="sidenav">
          <li><a href="#">Inscrição</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      </div>
    </nav>
  </div>

  {#    <div class="parallax-container">#}
  {#      <div class="parallax bg-blur"><img class="responsive-img" src="{% static 'img/meetup3.jpg' %}" alt="Unsplashed background img 1"></div>#}
  {#    </div>#}
  <div class="container">
    <h1 class="center-align h1-header">Garanta a sua credencial</h1>
    <p class="center-align p-header">Você vai não vai passar um 1min para se cadastrar</p>
  </div>

</header>



<div class="container cont-padding-top">

    {% if form.errors %}
  <div class="row">
    <blockquote>
      <h5>Corrija o(s) seguinte(s) erro(s):</h5>
      <ul>
        {% for field in form %}
          {% if field.errors %}
            {% for error in field.errors %}
              <li>{{ error|escape }}</li>
            {% endfor %}
          {% endif %}
        {% endfor %}
      </ul>
      {% if form.non_field_errors %}
        {{ form.non_field_errors }}
      {% endif %}

    </blockquote>
    </div>
{% endif %}



  <div class="row">
    <form class="col s12" method="post">
      {% csrf_token %}

      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Digite seu nome completo" required="required" name="name" id="name" type="text" class="validate">
          <label for="name">Nome completo</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Digite seu endereço de e-mail" required="required" name="email" id="email" type="email" class="validate">
          <label for="email">Email</label>
          <span class="helper-text" data-error="E-mail inválido"></span>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input placeholder="(Opcional) Digite seu CPF, apenas números" id="cpf" name="cpf" type="text" maxlength="11" class="validate">
          <label for="cpf">CPF</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <button class="btn waves-effect waves-light yellow darken-2" type="submit" name="action">Enviar
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="{% static 'js/materialize.js' %}"></script>
<script src="{% static 'js/init.js' %}"></script>

</body>
</html>
